<nav class="navbar-fixed light-blue darken-2">
  <div class="nav-wrapper">
    <ul class="left">
      <li class="no-hover">
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large waves-effect waves-light">
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>

    <form style="padding-left: 90px;padding-right: 20px;">
      <div class="input-field">
        <input id="search" type="search">
        <label for="search"><i class="material-icons">search</i></label>
      </div>
    </form>
  </div>
</nav>

<nav class="light-blue">
  <div class="nav-wrapper col s12 blue-text">
    <div class="row">
      <div class="col s12">
        <a href="#!" class="breadcrumb">First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a href="#!" class="breadcrumb">Third</a>
      </div>
    </div>
  </div>
</nav>
