<ul id="slide-out" class="side-nav">
  <li>
    <a href="/app/dashboard">
      <i class="material-icons">dashboard</i>
      Dashboard
    </a>
  </li>
  <li><div class="divider"></div></li>
  <li>
    <a class="subheader">Shop
      <i class="material-icons">shopping_cart</i>
    </a>
  </li>
  <li><a href="/app/shop/categories">Categories</a></li>
  <li><div class="divider"></div></li>
  <li><a href="/logout">Logout</a></li>
</ul>
