<div class="section">
  <div class="row">
    <div class="col m3">
      {{> categoryTree}}
    </div>
    <div class="col m9">
      <div class="section">
        <p class="flow-text">Select a category from the tree to begin editing your shop.</p>
      </div>
    </div>
  </div>
</div>
